# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\asus\Documents\ECI\2020-2\ARSW\Laboratorios\LAB1-ARSW\SNAKERACE\SNAKE_RACE\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
